{{>header}}

    <div class="container-audio">

        <form action="/users" method="POST">
            <input type="text" name="name" placeholder="name">
            <input type="email" name="email" placeholder="email">
            <input type="password" name="password" placeholder="password">
            <button type="submit" class="btn">Sign up</button>
        </form>

        <p>Sorry the developer has closed the sign up form so that users can't upload their songs because the developer's online storage is very low because of poverty</p>
    </div>
{{>footer}}